In [1]:
import pandas as pd
from google.colab import drive

In [9]:
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [10]:
gtd = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/data/GTD.csv')

In [18]:
gtd.head()

,eventid,iyear,imonth,iday,country_txt,city,latitude,longitude,doubtterr,attacktype1_txt,...,nkill,nwound,property,propextent_txt,nhostkid,ransom,scite1,scite2,scite3,dbsource
0,1.970000e+11,1970,7,2,Dominican Republic,Santo Domingo,18.456792,-69.951164,0,Assassination,...,1.0,0.0,0,NaN,NaN,0.0,NaN,NaN,NaN,PGIS
1,1.970000e+11,1970,0,0,Mexico,Mexico city,19.371887,-99.086624,0,Hostage Taking (Kidnapping),...,0.0,0.0,0,NaN,1.0,1.0,NaN,NaN,NaN,PGIS
2,1.970000e+11,1970,1,0,Philippines,Unknown,15.478598,120.599741,0,Assassination,...,1.0,0.0,0,NaN,NaN,0.0,NaN,NaN,NaN,PGIS
3,1.970000e+11,1970,1,0,Greece,Athens,37.997490,23.762728,0,Bombing/Explosion,...,NaN,NaN,1,NaN,NaN,0.0,NaN,NaN,NaN,PGIS
4,1.970000e+11,1970,1,0,Japan,Fukouka,33.580412,130.396361,-9,Facility/Infrastructure Attack,...,NaN,NaN,1,NaN,NaN,0.0,NaN,NaN,NaN,PGIS

In [23]:
# remove all rows where there was doubt of terrorism attack
gtd_no_doubt = gtd[gtd.doubtterr == 0]

# remove all entries with no deaths, wounded, property damage, or hostages
gtd_only_damage = gtd_no_doubt[(gtd_no_doubt.nkill > 0) | (gtd_no_doubt.nwound > 0) | (gtd_no_doubt.property == 1) | (gtd_no_doubt.nhostkid > 0)]

# remove all entries without sources
gtd_only_sources = gtd_only_damage[(pd.notna(gtd_only_damage.scite1)) | (pd.notna(gtd_only_damage.scite2)) | (pd.notna(gtd_only_damage.scite3))]
len(gtd_only_sources.index)

95328

In [25]:
# filter the final columns
gtd_filtered = gtd_only_sources.filter(items=['iyear', 'imonth', 'iday', 'country_txt', 'city', 'latitude', 'longitude', 
                                              'attacktype1_txt', 'targtype1_txt', 'target1', 'gname', 'weaptype1_txt',
                                              'nkill', 'nwound', 'property', 'propextent_txt', 'nhostkid', 'ransom',
                                              'scite1', 'scite2', 'scite3', 'dbsource'])
gtd_filtered.head()

,iyear,imonth,iday,country_txt,city,latitude,longitude,attacktype1_txt,targtype1_txt,target1,...,nkill,nwound,property,propextent_txt,nhostkid,ransom,scite1,scite2,scite3,dbsource
5,1970,1,1,United States,Cairo,37.005105,-89.176269,Armed Assault,Police,Cairo Police Headquarters,...,0.0,0.0,1,Minor (likely < $1 million),NaN,0.0,"""Police Chief Quits,"" Washington Post, January...","""Cairo Police Chief Quits; Decries Local 'Mili...","Christopher Hewitt, ""Political Violence and Te...",Hewitt Project
8,1970,1,2,United States,Madison,43.076592,-89.412488,Facility/Infrastructure Attack,Military,"R.O.T.C. offices at University of Wisconsin, M...",...,0.0,0.0,1,Minor (likely < $1 million),NaN,0.0,"Tom Bates, ""Rads: The 1970 Bombing of the Army...","David Newman, Sandra Sutherland, and Jon Stewa...","The Wisconsin Cartographers' Guild, ""Wisconsin...",Hewitt Project
9,1970,1,3,United States,Madison,43.072950,-89.386694,Facility/Infrastructure Attack,Government (General),Selective Service Headquarters in Madison Wisc...,...,0.0,0.0,1,Minor (likely < $1 million),NaN,0.0,Committee on Government Operations United Stat...,"Tom Bates, ""Rads: The 1970 Bombing of the Army...","David Newman, Sandra Sutherland, and Jon Stewa...",Hewitt Project
13,1970,1,9,United States,Detroit,42.331685,-83.047924,Facility/Infrastructure Attack,Government (General),Packard Properties building of Detroit Michigan,...,0.0,0.0,1,Minor (likely < $1 million),NaN,0.0,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project
17,1970,1,12,United States,New York City,40.697132,-73.931351,Bombing/Explosion,Educational Institution,James Madison High School,...,0.0,0.0,1,Minor (likely < $1 million),NaN,0.0,"""Blast Damages Flatbush School,"" New York Time...","Linda Greenhouse, ""Madison School Puzzled By B...",Committee on Government Operations United Stat...,Hewitt Project

In [26]:
gtd_filtered.to_csv(r'/content/gdrive/My Drive/Colab Notebooks/data/GTD_filtered.csv', index = False, header=True)